# Set default behavior to automatically normalize line endings.
* text=auto eol=lf

# Explicitly declare text files to be normalized
*.md text
*.ps1 text eol=crlf
*.txt text

# Denote binary files that should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.bmp binary
*.tiff binary
*.ico binary
*.webp binary